<div class="container">
  <mat-icon id="icone-warning">warning</mat-icon>
  <h2 id="mensagem">Deseja realmente realizar essa operação?</h2>
  <mat-dialog-actions id="mat-dialog-actions">
    <button mat-raised-button mat-dialog-close="true" id="botao-confirma">
      <mat-icon id="icone-check">check</mat-icon>Sim
    </button>
    <button mat-raised-button mat-dialog-close="false" id="botao-cancela">
      <mat-icon id="icone-clear">clear</mat-icon>Não
    </button>
  </mat-dialog-actions>
</div>

